<a href="https://colab.research.google.com/github/Aditikushwaha-18/Python/blob/main/advance_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1. Write a program to open three files 1.txt, 2.txt and 3.txt if any these files are not present, a message without exiting the program must be printed prompting the same.

In [ ]:
try:
    with open ('1.txt', 'r') as f:
        print(f.read() )
except exception as e:
    print(e)

try:
    with open ('2.txt', 'r') as f:
       print(f.read() )
except exception as e:
    print(e)

try:
    with open ('3.txt', 'r') as f:
       print(f.read() )
except exception as e:
    print(e)

print("Thankyou")

Question 2. Write a program to print third, fifth and seventh element from a list using enumerate function.

In [ ]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90]

for index, value in enumerate(mylist):
    if (index == 2 or index == 4 or index == 6) :
        print(value)

30
50
70

Question 3. Write a list comprehension to print a list which contains the multiplication table of a user entered number.

In [ ]:
n = int(input("Enter a number: "))

table = [n*i for i in range(1,11)]
print(table)

Enter a number: 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

Question 4. Write a program to display a/b where a and b are integers. If b=0, display infinite by handling the 'ZeroDivisionError".

In [ ]:
try:
   a = int(input("Enter a number."))
   b = int(input("Enter a number."))
   print(a/b)
except ZeroDivisionError:
   print("Zero must not be entered")

Enter a number.8
Enter a number.2
4.0

Question 5. Store the multiplication tables generated in problem 3 in a file named Tables.txt.

In [ ]:
n = int(input("Enter a number: "))

table = [n*i for i in range(1,11)]
print(table)

with open('Tables.txt', 'w') as f:
    f.write(str(table))

Enter a number: 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

Question 6. Write a program to input name, marks and phone number of a student and format it using the format function like below:

"The name of the student is Harry, his marks are 72 and phone number is 9999988888"

In [ ]:
name = input("Enter the name of the student: ")
marks = int(input("Enter the marks of the student: "))
phone = int(input("Enter the phone number of the student"))

s = "The name of the student is {}, his marks are {} and phone number is {}".format(name, marks, phone)
print(s)

Enter the name of the student: Harry
Enter the marks of the student: 72
Enter the phone number of the student9999988888
The name of the student is Harry, his marks are 72 and phone number is 9999988888

Question 7. A list contains the multiplication table of 7. write a program to convert it to vertical string of same numbers.

In [ ]:
table = [str(7*i) for i in range(1,11)]

s = "\n".join(table)
print(s)

7
14
21
28
35
42
49
56
63
70

Question 8. Write a program to filter a list of numbers which are divisible by 5.

In [ ]:
def divisible5(n):
    if(n%5 == 0):
       return True
    return False

a =   [1, 23434 ,5345 ,238945, 89785 ,987 ,3875 ,12985 ,9275 ,65 ,55 ,193 ,7354343555]
b = list(filter(divisible5, a))
print(b)

[5345, 238945, 89785, 3875, 12985, 9275, 65, 55, 7354343555]

Question 9. Write a program to find the maximum of the numbers in a list using the reduce function.

In [ ]:
from functools import reduce

l = [23, 54, 76, 98, 29, 91, 82, 18, 1932, 4, 34, 293]

def greater(a,b):
  if(a>b):
    return a
  return b

k = (reduce(greater,l))
print(k)

1932