<a href="https://colab.research.google.com/github/Aditikushwaha-18/Python/blob/main/dictionary_%26_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question : Write a program to create dictionary of hindi words with values as their english translation . Provide user with an option to look it up!

In [ ]:
words = {
    "madat":"help",
    "chappal":"slippers",
    "kursi":"chair",
    "rumaal":"hankerchief",
}

word = input("Enter the hindi word : ")

print(words[word])

Enter the hindi word : kursi
chair

Question : Write a program to input eight numbers from the user and display all the unique number (once).

In [ ]:
num = set()
n1 = input("Enter first number : ")
num.add(int(n1))
n2 = input("Enter second number : ")
num.add(int(n2))
n3 = input("Enter third number : ")
num.add(int(n3))
n4 = input("Enter fourth number : ")
num.add(int(n4))
n5 = input("Enter fifth number : ")
num.add(int(n5))
n6 = input("Enter sixth number : ")
num.add(int(n6))
n7 = input("Enter seventh number : ")
num.add(int(n7))
n8 = input("Enter eighth number : ")
num.add(int(n8))

print(num)

Enter first number : 54
Enter second number : 34
Enter third number : 23
Enter fourth number : 5
Enter fifth number : 6
Enter sixth number : 6
Enter seventh number : 42
Enter eighth number : 98
{34, 98, 5, 6, 42, 54, 23}

Question : Can we have a set with 18(int) and '18'(str) as a value in it?

In [ ]:
num = set()
num.add("18")
num.add(18)

print(num)

{18, '18'}

Question : What will be the lenght of the following set s :
s = set()
s.add(20)
s.add(20.0)
s.add('20')  # length of s after these operations?

In [ ]:
s = set()
s.add(20)
s.add(20.0)
s.add('20')

print(len(s))   # the ans is 2 because in python if the values are numerically same it is considered as same , data type is not considered here.

2

Question : Create an empty  dictionary . Allow 4 friends to enter thier favourite language as a value and use key as their names. Assume that the names are unique.

In [ ]:
language = {
    "Ram" :   "",
    "Shyam" : "",
    "Mohan" : "",
    "Sohan" : "",
}
l1 = input("Enter your favourite language Ram : ")
language["Ram"]=l1
l2 = input("Enter your favourite language Shyam : ")
language["Shyam"]=l2
l3 = input("Enter your favourite language Mohan : ")
language["Mohan"]=l3
l4 = input("Enter your favourite language Sohan : ")
language["Sohan"]=l4

print(language)

Enter your favourite language Ram : english
Enter your favourite language Shyam : french
Enter your favourite language Mohan : sanskrit
Enter your favourite language Sohan : japanese
{'Ram': 'english', 'Shyam': 'french', 'Mohan': 'sanskrit', 'Sohan': 'japanese'}

In [ ]:
d = {}

name = input("Enter your name : ")
lang = input("Enter your favourite language : ")
d.update({name:lang})

name = input("Enter your name : ")
lang = input("Enter your favourite language : ")
d.update({name:lang})

name = input("Enter your name : ")
lang = input("Enter your favourite language : ")
d.update({name:lang})

name = input("Enter your name : ")
lang = input("Enter your favourite language : ")
d.update({name:lang})

print(d)

Enter your name : Ram
Enter your favourite language : hindi
Enter your name : Mohit
Enter your favourite language : japanese
Enter your name : Deepak
Enter your favourite language : sanskrit
Enter your name : Raj
Enter your favourite language : english
{'Ram ': 'hindi', 'Mohit': 'japanese', 'Deepak': 'sanskrit', 'Raj': 'english'}

Question : can you change the value inside a list which is contained in set S?

In [ ]:
S = {34, 87, "raj", "rohit", [9,2]}
# No, the values of the set cannot be updated as well as a list can also not be included in a set.