<a href="https://colab.research.google.com/github/Aditikushwaha-18/Python/blob/main/function_%26_recursions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question : Write a program to find greatest of three numbers using functions.

In [ ]:
a = int(input("Enter no. 1 :"))
b = int(input("Enter no. 2 :"))
c = int(input("Enter no. 3 :"))

def greatest(a,b,c):
  if(a>b and a>c):
    print(a,"is greatest")
  elif(b>a and b>c):
    print(b,"is greatest")
  else:
    print(c,"is greatest")

greatest(a,b,c)

Enter no. 1 :45
Enter no. 2 :68
Enter no. 3 :281
281 is greatest

Question : Write a python program to convert celsius to fahrenheit using functions.

In [ ]:
temp = int(input("Enter the temperature:"))

def convert(temp):
  print((temp*9/5)+32)

convert(temp)

Enter the temperature:39
102.2

Question : How do you prevent a python print()  function to print new line at the end.

Answer : We can prevent a python print() function to print a new line at the end by adding -  end=""  to the print() function.

Question : Write a recursive function to calculate the sum of first n natural numbers.

In [ ]:
n = int(input("Enter the number:"))

def sum(n):
  if n==1:
    return 1
  return sum(n-1)+n

print(sum(n))

Enter the number:4
10

Question : Write a python function to print first n lines of the following pattern:
```
***
**
*
```

In [ ]:
n = int(input("Enter the number:"))

def star(n):
  if(n==0):
    return
  print("*"*n)
  star(n-1)

star(n)

Enter the number:6
******
*****
****
***
**
*

Question : Write a python function to convert inches to cms.

In [ ]:
inches = int(input("Enter the value:"))

def convert(inches):
  print(inches*2.54)

convert(inches)

Enter the value:45
114.3

Question : Write a python function to remove a given word from a list ad strip it at the same time.

In [ ]:
word = input("Enater the word:")

def rem(l,word):
  n = []
  for item in l:
    if not(item==word):
      n.append(item.strip(word))
  return n

l = ["harry","Shyam","rajat","raman","Rohan"]

print(rem(l,word))

Enater the word:an
['harry', 'Shyam', 'rajat', 'ram', 'Roh']

Question : Write a function to print a multiplication table of a given number.

In [ ]:
n = int(input)

def table(n):
  for i in range(1,11):
    print(n,"*",i,"=",n*i)

table(n)

Enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30