<a href="https://colab.research.google.com/github/Aditikushwaha-18/Python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question : Write a program to print multiplication table using for loop.

In [ ]:
n = int(input("Enter the number:"))
for i in range(1,11):
    print(f"{n} X {i} = {n*i}")

Enter the number:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Question : Write a program to greet all the person name stored in the list to start with "A".

In [ ]:
names = []

n1 = (input("Enter the name : "))
names.append(n1)
n2 = (input("Enter the name : "))
names.append(n2)
n3 = (input("Enter the name : "))
names.append(n3)
n4 = (input("Enter the name : "))
names.append(n4)
n5 = (input("Enter the name : "))
names.append(n5)

for name in names:
  if (name[0] == "A"):
    print("Hello",name)

Enter the name : Aditi
Enter the name : Raj
Enter the name : Arpit
Enter the name : Aavya
Enter the name : Aradhya
Hello Aditi
Hello Arpit
Hello Aavya
Hello Aradhya

Question : Atempt problem one using a while loop.

In [ ]:
n = int(input("Enter the number:"))
i=1
while (i<11):
  print(f"{n} X {1} = {n*i}")
  i+=1

Enter the number:4
4 X 1 = 4
4 X 1 = 8
4 X 1 = 12
4 X 1 = 16
4 X 1 = 20
4 X 1 = 24
4 X 1 = 28
4 X 1 = 32
4 X 1 = 36
4 X 1 = 40

Question : Wrrite a program to find whether the given number is prime or not.

In [ ]:
n = int(input("Enter the number:"))
for i in range(2,n):
  if (n%i == 0):
    print("Not Prime")
    break
else:
  print("Prime")

Enter the number:8
Not Prime

Question : Write a program to find the sum of n natural numbers using a while loop.

In [ ]:
n = int(input("Enter the number:"))
sum = 0
i=1
while (i<=n):
  sum+=i
  i+=1
print(sum)

Enter the number:78
3081

Question : Write a program to find out factorial of the given number using for loop.

In [ ]:
n = int(input("Enter the number:"))
fact = 1
for i in range(1,n+1):
  fact*=i

print(fact)

Enter the number:11
39916800

Question : Write a program to print the following star pattern.
```
  *
 ***
*****
```
for n=7.

In [ ]:
n = int(input("Enter the number:"))

for  i in range(1,n+1):
  print(" "*(n-i),end="")
  print("*"*(2*i-1),end="")
  print("")

Enter the number:7
      *
     ***
    *****
   *******
  *********
 ***********
*************

Question : Write a program to print the following star pattern.

```
*
**
***
```
for n=3

In [ ]:
n = int(input("Enter the number:"))

for  i in range(1,n+1):
  print("*"*i)

Enter the number:3
*
**
***

Question : Write a program to print the following star pattern.

```
***
* *
***
```
for n=3.

In [ ]:
n = int(input("Enter the number:"))

for  i in range(1,n+1):
  if(i==1 or i==n):
    print("*"*n)
  else:
    print("*",end="")
    print(" "*(n-2),end="")
    print("*")

Enter the number:3
***
* *
***

Question : Write a program to print multiplication table of n using for loops in reverse order.

In [ ]:
n = int(input("Enter the number:"))
for i in range(1,11):
    print(f"{n} X {11-i} = {n*(11-i)}")

Enter the number:7
7 X 10 = 70
7 X 9 = 63
7 X 8 = 56
7 X 7 = 49
7 X 6 = 42
7 X 5 = 35
7 X 4 = 28
7 X 3 = 21
7 X 2 = 14
7 X 1 = 7